<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css} " type="text/css"/>
<link th:rel="stylesheet" th:href="@{/webjars/font-awesome/6.1.1/css/all.css} " type="text/css"/>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
<title>Contact</title>
</head>
<body>
	<div class="my-blogs">
		<div class="header">
			<div class="title">My blogs</div>
			<ul class="menu nav">
				<li class="menu-item"><a href="home">Home</a></li>
				<li class="menu-item active"><a href="contact">Contact</a></li>
			</ul>
		</div>
		<div class="content">
			<div class="content-left content-item">
				<div class="form-border">
					<button>All fields are required</button>
					<form action="#" method="post" th:action="@{/saveContact}" th:object="${contact}">
						<table border="0" cellpadding="10">
							<tr class="form-group">
								<td class="name">Name:</td>
								<td>
									<input class="form-control" type="text" th:field="*{name}"/>
									<div class="alert alert-warning" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
								</td>
							</tr>
							<tr class="form-group">
								<td class="name">Email:</td>
								<td>
									<input class="form-control" type="text" th:field="*{email}"/>
									<div class="alert alert-warning" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
								</td>
							</tr>
							<tr class="form-group">
								<td class="name">Phone:</td>
								<td>
									<input class="form-control" type="text" th:field="*{phone}"/>
									<div class="alert alert-warning" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></div>
								</td>
							</tr>
							<tr class="form-group">
								<td class="name">Company:</td>
								<td>
									<input class="form-control" type="text" th:field="*{company}"/>
									<div class="alert alert-warning" th:if="${#fields.hasErrors('company')}" th:errors="*{company}"></div>
								</td>
							</tr>
							<tr class="form-group">
								<td class="name">Message:</td>
								<td>
									<textarea class="form-control" type="text" th:field="*{message}"></textarea>
									<div class="alert alert-warning" th:if="${#fields.hasErrors('message')}" th:errors="*{message}"></div>
								</td>
							</tr>
							<tr>
								<td colspan="2"><button type="submit">Save</button></td>
							</tr>
						</table>
					</form>
				</div>
			</div>
			<div class="content-right content-item">
				<div class="title">Categories</div>
				<hr/>
				<div class="items">
					<a class="item" th:each="category:${listCategories}" th:href="@{'/' + ${category.id}}"><span>></span>&#160<span>[(${category.name})]</span><br/></a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>