<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css} " type="text/css"/>
<link th:rel="stylesheet" th:href="@{/webjars/font-awesome/6.1.1/css/all.css} " type="text/css"/>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
<title>Home</title>
</head>
<body>
	<div class="my-blogs">
		<div class="header">
			<div class="title">My blogs</div>
			<ul class="menu nav">
				<li class="menu-item active"><a href="home">Home</a></li>
				<li class="menu-item"><a href="contact">Contact</a></li>
			</ul>
		</div>
		<div class="content">
			<div class="content-left">
				<div class="content-item" th:each="blog:${searchedListBlogs}">
					<div class="breadcrumb"><span class="category-name">[(${blog.category.name})]</span>&nbsp<span> - Full Category</span></div>
					
					<div class="general-info">
						<div class="title"><span>[(${blog.name})]</span></div>
						<div class="date">Posted on <span>[(${blog.created_date})]</span>&nbsp<span class="full-article"> - Full Article</span></div>
					</div>
					<div class="article">
						<div class="image">
							<img th:src="${blog.image}"/>
						</div>
						<div class="artical-content">
							[(${blog.content})]
						</div>
					</div>
				</div>
			</div>

			<div class="content-right content-item">
				<div class="title">Categories</div>
				<hr/>
				<div class="items">
					<a class="item" th:each="category:${listCategories}" th:href="@{'/' + ${category.id}}"><span>></span>&#160<span>[(${category.name})]</span><br/></a>
				</div>
			</div>
		</div>
		<hr/>
		<div class="footer">
			<div class="item" th:each="blog:${listBlogs}">
				<div class="task"><span>></span>&#160<span>[(${blog.name})]</span></div>
				&nbsp;&nbsp;
				<div class="date"><span>Posted on</span>&#160<span>[(${blog.created_date})]</span></div>
			</div>
		</div>
	</div>
</body>
</html>